.containerAll-pageWork {
  font-family: 'Signika', sans-serif;
}


.containerAll-jobsHome {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

.container-Filter {
  width: 15%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.containerAll-viewMode {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.container-findWork {
  text-align: center;
}

.btn-viewMode {
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: scale 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.btn-viewMode:hover {
  scale: 1.1;
  background-color: #2197ca;
  color: #fff;
}

/*ESTILIZANDO COLUNAS COM CSS PURO*/

.job-list {
  display: grid;
  gap: 16px; /* Espaço entre os itens */
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
}

.container-salaryRange {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
