@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url('/backgroundHome.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-quill-editor .ql-toolbar{
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.custom-quill-editor .ql-editor {
  min-height: 400px;
  max-height: 900px;
  border: 2px solid transparent;
}

.custom-quill-editor .ql-editor::-webkit-scrollbar {
  width: 5px;
}

.custom-quill-editor .ql-editor::-webkit-scrollbar-thumb {
  background-color: #f70;
  border-radius: 0.5rem;
}

.custom-quill-editor .ql-editor::-webkit-scrollbar-track {
  background-color: #fff;
}

.wysiwy{
  line-height: 2;
}

.wysiwy ol{

}

.wysiwy {
  padding-left: 1.5rem;
  list-style: disc;
}