* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(215, 236, 255);
}

.custom-quill-editor .ql-toolbar{
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.custom-quill-editor .ql-editor {
  min-height: 400px;
  max-height: 900px;
  border: 2px solid transparent;
}

.custom-quill-editor .ql-editor::-webkit-scrollbar {
  width: 5px;
}

.custom-quill-editor .ql-editor::-webkit-scrollbar-thumb {
  background-color: #f70;
  border-radius: 0.5rem;
}

.custom-quill-editor .ql-editor::-webkit-scrollbar-track {
  background-color: #fff;
}