.containerAll-Home {
    width: 100%;
    height: 100vh;
    font-family: 'Signika', sans-serif;
    background-color: #000;
    background-image: url('/backgroundHome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0rem;
    box-shadow: 5px 5px 15px #000;
}

.container-searchJobs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
    color: #fff;
}

.inputSearchJobs {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.inputSearchJobs button {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #11a4ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, scale 0.5s ease;
}

.inputSearchJobs button:hover {
    background-color: #000;
    color: #f70;
    scale: 1.1;
}

#title-mainCards {
    text-align: center;
    color: #fff;
}

.Card {
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
}

.Card button {
    width: 12rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #11a4ff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, scale 0.5s ease;
}

.Card button:hover {
    background-color: #000;
    color: #f60;
    scale: 1.1;
}

.container-titleCards {
    text-align: center;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

#textBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: #fff;
}

#textBottom p {
    border: 2px solid #b5b5b5;
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: 40%;
    text-align: center;
}

.container-getStarted {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 3rem;
    background-color: transparent;
    color: #fff;
}

.buttons-getStarted {
    display: flex;
    gap: 1rem;
}

.buttons-getStarted button {
    width: 12rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgb(239, 133, 62);
    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease, scale 0.5s ease;
}

.buttons-getStarted button:hover {
    color: #fff;
    background-color: #000;
    scale: 1.1;
}