.card-jobItem {
  border: 1px solid rgb(68, 255, 0);
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 2px solid red;
/* Faz o card ocupar o espaço restante */
}

/*.container-jobCardItem {
    display: flex;
    flex-direction: column;
}


.container-jobCardItem h3 {
  cursor: pointer;
  text-decoration: underline;
  transition: scale 0.5s ease, color 0.5s ease, border 0.5s ease, border-radius 0.5s ease;
  border: 1px solid transparent;
  width: 250px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}*/

.container-jobCardItem h3:hover {
  color: rgb(48, 145, 255);
  scale: 1.1;
  border: 1px solid rgb(119, 0, 255);
  border-radius: 0.5rem;
}


.requeriments-skills {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.requeriments-skills p {
  border: 2px solid rgb(92, 182, 255);
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: aliceblue;
}

.container-iconEdit {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.container-iconEdit img {
  cursor: pointer;
  transition: scale 0.5s ease, box-shadow 0.5s ease;
}

.container-iconEdit img:hover {
  scale: 1.1;
  box-shadow: 5px 5px 10px #f60;
}