header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.iconBusiness {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  cursor: pointer;
}

#nav-profile {
  text-align: center;
  width: 13rem;
}

#nav-profile button {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
}

.nav-login {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #35daff;
  color: #000;
}

.container-allDropdown {
  background-color: #fff;
  border-radius: 0.5rem;
}

.container-dropDown {
  text-align: center;
  display: none;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;

}

.container-dropDown.visible {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.container-dropDown button {
  cursor: pointer;
  padding: 0.5rem;
}

.container-nameProfile p:first-child {
  font-weight: bold;
}

.container-configProfile {
  width: 100%;
}

.container-configProfile li {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.container-configProfile img {
  max-width: 20px;
}
